body {
        margin: 0;
        padding: 0;

        font-family: "Roboto", "Arial", sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;

        background-color: #849d8f;
}
.container {
        width: 1146px;
        margin: 0 auto;
        padding: 0 27px;
}

/*Шапка сайта*/

.main-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 280px;
        flex-wrap: wrap;
        width: 1146px;
}
.main-nav {
        display: flex;
        margin-right: 319px;
}
.main-nav ul,
.user-nav ul {
        margin: 0;
        padding: 0; 

        list-style: none;
}
.site-nav {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
}
.main-nav a,
.user-nav a {
        color: #ffffff;
}
.site-nav a {
        text-decoration-color: #adbdb4;
}
.sub-catalog {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
}
.site-nav a:hover,
.user-nav a:hover {
        color: #323232;
        background-color: #f7f6f3;
}
.site-nav a:active {
        background-color: #ededed;
}
.sub-catalog li:first-of-type {
        font-weight: 700;
}
.sub-catalog a {
        text-decoration: none;
        color: #323232;

        background-color: #f8f7f4;
}
.sub-catalog a:hover {
        background-color: #fbded7;
}
.sub-catalog a:active {
        background-color: #f6b5a5;
}
.log-in > a,
.basket > a {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
}
.user-nav input {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #323232;
        
        outline: none;
        border: 1px solid #d3d3d2;
}
.user-nav input:hover {
        border: 2px solid #c7c6c5;
}
.user-nav input:focus {
        border: 2px solid #8fbdec; 
}
.user-nav input::placeholder {
        font-weight: 400;
        color: #999999;
}
.user-nav input::-ms-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.user-nav input::-webkit-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.search-form {
        background-color: #f8f7f4;
}
.log-in-form {
        background-color: #f8f7f4;
}
.log-in-form a {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #323232;
}
.log-in-form a:hover {
        color: #e84d37;
}
.log-in-form a:active {
        color: #e84d37;
}
.button {
        outline: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #fefefe;       
        background-color: #e84d37;

        background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.button:hover {
        /*Добавить color overlay*/
}
.button:focus:active {
        background-image: linear-gradient( to right, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
        box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.header-contacts {
        margin-left: auto;
}
.header-contacts b {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
}
.header-contacts a {
        text-decoration: none;
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
}

/*Полная корзина*/

.basket-fill a {
        color: #323232;
        background-color: #f7f6f3;
}
.basket-inner {
        background-color: #f8f7f4;
}
.basket-inner table {
        margin: 0;
        padding: 0;
        border-collapse: collapse;

        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        color:  #323232;
}
.basket-inner span {
        color: #999999;
}
.basket-inner b {
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        color:  #323232;
}
.basket-inner a {
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #fefefe;       
        background-color: #e84d37;
  
        background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

/*Контент главной страницы*/

.slide h2 {
        font-size: 60px;
        line-height: 61px;
        font-weight: 700;
        text-align: center;
}
.slide .button {
        font-size: 32px;
        line-height: 44px;
        font-weight: 700;
        text-decoration: none;
}
.slider {
        list-style: none;
} 
.slider button {
        width: 21px;
        height: 21px;
        background-color: transparent;
        border: 2px solid #ffffff;
}
.slider .btn-active {
        background-color: #ffffff;
}     
.slider button:hover {
        background-color: #b2c1b7;
}
.slider button:active { 
        background-color: #ffffff;
}
.stock h1 {
        font-size: 35px;
        line-height: 41px;
        font-weight: 700;
}
.stock p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
}
.stock a {
        text-decoration: none;
}
.raspberries {
        background-image: url("../img/raspberries-bg.jpg");
        background-repeat: no-repeat;
}
.chocolate {
        background-image: url("../img/chocolate-bg.jpg");
        background-repeat: no-repeat;
}
.hits-list {
        list-style: none;
}
.hit-item:hover {
        background-color: #9bafa3;
}
.hit-item h3 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-decoration: uppercase;
}
.hit-item b {
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
}
.features {
        display: flex;
        flex-direction: column;
        width: 1106px;
        margin-bottom: 40px;
        padding: 25px 20px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #323232;

        background-color: #ede1c8;
        background-image: url("../img/waffle-bg.png");
}
.features > p {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
}
.features ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        list-style: none;
}
.features li {
        width: 540px;
}
.index-column {
        display: flex;
        justify-content: space-between;
        width: 1146px;
        margin: 0 auto;
        margin-bottom: 40px;
}
.blog {
        width: 560px;
        margin-right: 26px;

        color: #323232;
        background-color: #ffffff;
}
.blog h2 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
}
.blog a {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #323232;
}
.blog a:hover {
        color: #e84d37;
}
.blog a:active {
        color: #e84d37;
}
.subscription {
        width: 560px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #5a5a5a;

        background-color: #f8f7f4;
}
.subscription-form input {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #323232;
        
        outline: none;
        border: 1px solid #d3d3d2;
}
.subscription-form input::placeholder {
        font-weight: 400;
        color: #999999;
}
.subscription-form input::-ms-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.subscription-form input::-webkit-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.subscription-form input:hover {
        border: 2px solid #c7c6c5;
}
.subscription-form input:focus {
        border: 2px solid #8fbdec;       
}
.main-contacts {
        background-color: #ffffff;
        color: #323232;
}
.contacts img {
        width: 1200px;
        height: 430px;
}
.main-contacts span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;       
}
.main-contacts .address {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
}
.main-contacts .main-tel {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #323232;
}
.main-contacts .button {
        text-decoration: none;
}
.feedback-popup {
        background-color: #f8f7f4; 
}
.feedback-popup b {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: #323232;
}
.feedback-form input {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #323232;
        
        outline: none;
        border: 1px solid #d3d3d2;
}
.feedback-form input::placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form input::-ms-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form input::-webkit-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form input:hover {
        border: 2px solid #c7c6c5;
}
.feedback-form input:focus {
        border: 2px solid #8fbdec;      
}
.feedback-form textarea {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #323232;
        
        outline: none;
        border: 1px solid #d3d3d2;
}
.feedback-form textarea::placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form textarea::-ms-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form textarea::-webkit-input-placeholder {
        font-weight: 400;
        color: #999999;
}
.feedback-form textarea:hover {
        border: 2px solid #c7c6c5;
}
.feedback-form textarea:focus {
        border: 2px solid #8fbdec;     
}

/*Cтраница каталога*/

.page-title {
        font-size: 35px;
        line-height: 41px;
        font-weight: 700;
}
.breadcrumbs {
        list-style: none;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
}
.breadcrumbs a {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #ffffff;
        text-decoration-color: #adbdb4;
}
.breadcrumbs a:hover {
        color: #ffbc9e;
}
.breadcrumbs a:active {
        color: #ffbc9e;
}
.form-filter fieldset {
        background-color: rgba(248,247,244,0.2);
        border: none;
}
.form-filter ul {
        list-style: none;
}
.form-filter legend {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
}
.form-filter span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
}
.form-filter label {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
}
.form-filter .sorting {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #ffffff;

        background-color: rgba(248,247,244,0.2);
        border: none;
}
.form-filter .sorting:hover {
        color: #323232;
}
.form-filter .sorting:active {
        color: #323232;
        background-color: #ffffff;
}
.form-filter .btn-submit {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #ffffff;

        background-color: rgba(248,247,244,0.2);
}
.form-filter .btn-submit:hover {
        color: #323232;
        background-color: #fbfcfb;
}
.form-filter .btn-submit:active {
        color: #323232;
        background-color: #eaeaea;
}
.catalog-list {
        list-style: none;
}
.catalog-item:hover {
        background-color: #9bafa3;
}
.catalog-item h3 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-decoration: uppercase;
}
.catalog-item b {
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
}
.pagination-list {
        list-style: none;

}
.pagination-list a {
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #ffffff;
}
.pagination-list .pagination-item-current a {
        color: #323232;
        background-color: #ffffff;
}
.pagination-list a:hover {
        background-color: rgba(248,247,244,0.2);
}
.pagination-list a:active {
        color: #323232;
        background-color: #ffffff;
}
/*Подвал сайта*/

.main-footer {
        display: flex;
        justify-content: space-between;
}
.main-footer ul {
        list-style: none;
}
.footer-social  {
        text-align: center;
}
.social-button {
        color: #ffffff;
}
.footer-nav a {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: #ffffff;
        text-decoration-color: #adbdb4;
}
.footer-nav a:hover {
        color: #ffbc9e;
}
.footer-nav a:active {
        color: #ffbc9e;
}
.footer-nav b {
        font-weight: 700;
}
.copyright span {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: #ffffff;
}
.copyright a {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: #ffffff;
        text-decoration-color: #adbdb4;
}
.copyright a:hover {
        color: #ffbc9e;
}
.copyright a:active {
        color: #ffbc9e;
}




